<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sponsor an elf!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>

<div class="wrapper">
    <div class="row-one">
{% load static %}
<div class="elfone">
<img src="{% static "working-elf-transparent.gif" %}" alt="elf working on doll" class="working-elf-image"/>
<h3>John</h3>
<p>Text about John will go here</p>
<p id="popup">Thank you for sponsoring an elf!</p>
<button class="button1">Sponsor this elf!</button>
</div>

<div class="elftwo">
<img src="{% static "crying-elf-transparent.gif" %}" alt="a sad crying elf" class="crying-elf-image"/>
<h3>Edward</h3>
<p>Text about Edward will go here</p>
<button class="button2">Sponsor this elf!</button>
</div>

<div class="elfthree">
<img src="{% static "merry-christmas-elf-transparent.gif" %}" alt="elf with a merry christmas sign" class="sign-elf-image"/>
<h3>Jim</h3>
<p>Text about Jim will go here</p>
<button class="button3">Sponsor this elf!</button>
</div>

    </div>
    <div class="row-two">
{% load static %}
<div class="elffour">
<img src="{% static "flying-elf-transparent.gif" %}" alt="a flying elf delivering a present" class="flying-elf-image"/>
<h3>Peter</h3>
<p>Text about Peter will go here</p>
<button class="button4">Sponsor this elf!</button>
</div>
<div class="elffive">
<img src="{% static "presents-elf.gif" %}" alt="elf carrying a lot of presents" class="presents-elf-image"/>
<h3>Skipper</h3>
<p>Text about Skipper will go here</p>
<button class="button5">Sponsor this elf!</button>
</div>
<div class="elfsix">
<img src="{% static "typing-elf.gif" %}" alt="two elves riding a sleigh" class="typing-elf-image"/>
<h3>Mindy</h3>
<p>Text about Mindy will go here</p>
<button class="button6">Sponsor this elf!</button>
</div>
    </div>

</div>
    
</body>
</html>